<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
	<meta name="x5-fullscreen" content="true">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=0,width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">

	<meta name="format-detection"content="telephone=no, email=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telphone=no, email=no" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="browsermode" content="application">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
	<!-- PWA START -->
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon-precomposed" href="favicon.jpg">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
    <title>DynaMaker 1.0</title>
</head>
<link rel="shortcut icon" type="image/x-icon" href="favicon.jpg">
<body style="background-color:#000; height: 100%; width: 100%; margin: 0; padding: 0;">
	<div id="game"></div>
	<button id="goplay" onclick="musicCtrl.play()" style="display: none;"></button>
	<input id="musicName" type="text" style="position: absolute; width:1500px; height:100px; font-size:50px;color:rgb(255,255,255);left:200px; top:100px; display: none; background-color: rgb(25,25,25); text-align:center;"></input>
	<input id="beatpm" type="text" style="position: absolute; width:300px; height:100px; font-size:50px;color:rgb(255,255,255);left:1100px; top:300px; display: none; background-color: rgb(25,25,25); text-align:center;"></input>
	<input id="barpm" type="text" style="position: absolute; width:300px; height:100px; font-size:50px;color:rgb(255,255,255);left:1400px; top:300px; display: none; background-color: rgb(25,25,25); text-align:center;"></input>
	<input id="offsetSec" type="text" style="position: absolute; width:300px; height:100px; font-size:50px;color:rgb(255,255,255);left:1100px; top:500px; display: none; background-color: red; text-align:center;" disabled="disabled"></input>
	<input id="offsetBar" type="text" style="position: absolute; width:300px; height:100px; font-size:50px;color:rgb(255,255,255);left:1400px; top:500px; display: none; background-color: red; text-align:center;" disabled="disabled"></input>
	<select id="hardship" style="position: absolute; width:600px; height:100px; font-size:50px;color:rgb(255,255,255);left:200px; top:500px; display: none; background-color: rgb(25,25,25);">
		<option value="CASUAL">CASUAL</option>
	    <option value="NORMAL">NORMAL</option>
	    <option value="HARD">HARD</option>
	    <option value="MEGA">MEGA</option>
	    <option value="GIGA">GIGA</option>
	    <option value="CUSTOM">CUSTOM</option>
	</select>
	<select id="left" style="position: absolute; width:600px; height:100px; font-size:50px;color:rgb(255,255,255);left:200px; top:700px; display: none; background-color: rgb(25,25,25);">
		<option value="MIXER">MIXER</option>
	    <option value="PAD">PAD</option>
	    <option value="MULTI">MULTI</option>
	</select>
	<select id="right" style="position: absolute; width:600px; height:100px; font-size:50px;color:rgb(255,255,255);left:1100px; top:700px; display: none; background-color: rgb(25,25,25);">
	    <option value="PAD">PAD</option>
		<option value="MIXER">MIXER</option>
	    <option value="MULTI">MULTI</option>
	</select>
	<input class="settings" type="text" id="chartName" value="" />
	<select class="settings" id="difficulty"/>
		<option value="CASUAL">CASUAL</option>
	    <option value="NORMAL">NORMAL</option>
	    <option value="HARD">HARD</option>
	    <option value="MEGA">MEGA</option>
	    <option value="GIGA">GIGA</option>
	    <option value="CUSTOM">CUSTOM</option>
	</select>
</body>
</html>
<!-- PWA START -->
<script type="text/javascript" src="../javascripts/pwa.js"></script>
<!-- PWA END -->
<script type="text/javascript" src="../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../javascripts/ObjTree.js"></script>
<script type="text/javascript" src="../javascripts/jkl-dumper.js"></script>
<script type="text/javascript" src="../javascripts/animation.js"></script>
<script type="text/javascript" src="../javascripts/webAudioContext.js"></script>
<script type="text/javascript" src="../javascripts/keyboard.js"></script>
<script type="text/javascript" src="../javascripts/mouse.js"></script>
<script type="text/javascript" src="../javascripts/fpsWatcher.js"></script>
<script type="text/javascript" src="../javascripts/function.js"></script>
<script type="text/javascript" src="../javascripts/startMenuScene.js"></script>
<script type="text/javascript" src="../javascripts/startMenuSceneMobile.js"></script>
<script type="text/javascript" src="../javascripts/settingsForNewMapScene.js"></script>
<script type="text/javascript" src="../javascripts/loadingScene.js"></script>
<script type="text/javascript" src="../javascripts/settings.js"></script>
<script type="text/javascript" src="../javascripts/playView.js"></script>
<script type="text/javascript" src="../javascripts/prepareResultScene.js"></script>
<script type="text/javascript" src="../javascripts/resultScene.js"></script>
<script type="text/javascript" src="../javascripts/touch.js"></script>
<script type="text/javascript" src="../javascripts/main.js"></script>