@font-face {
	font-family: "orbitron-bold";
	src: url("../Font/orbitron-bold.woff") format("woff");
}
@font-face {
	font-family: "Dynamix";
	src: url("../Font/dynamixfeaturestandard.woff") format("woff");
}
body {
	font-family: "orbitron-bold"; 
}

#game {
	margin：0 auto;
}

.settings {
	display: none;
}

*{
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}